In [161]:

from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

# NASA Mars News

Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [164]:
    # Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [124]:
#getting mars content via splinter

mars_url = "https://redplanetscience.com"
browser.visit(mars_url)
time.sleep(1)
# I wasted too much time scraping with bs...


# # Retrieve page with the requests module
# mars_response = requests.get(mars_url)
# # Create BeautifulSoup object; parse with 'html.parser'
# mars_soup = bs(mars_response.text, 'html.parser')

In [125]:
#scraping...

mars_html = browser.html
mars_soup = bs(mars_html, "html.parser")

In [127]:
# get the parent div that holds all of the articles
mars_articles = mars_soup.find_all('div',class_='list_text')
mars_articles

[<div class="list_text">
 <div class="list_date">July 30, 2022</div>
 <div class="content_title">NASA's Curiosity Keeps Rolling As Team Operates Rover From Home</div>
 <div class="article_teaser_body">The team has learned to meet new challenges as they work remotely on the Mars mission.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 30, 2022</div>
 <div class="content_title">NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network</div>
 <div class="article_teaser_body">Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 29, 2022</div>
 <div class="content_title">NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet</div>
 <div class="article_teaser_body">The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 29, 2022</div>
 <div class="content_title">Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate</div>
 <div class="article_teaser_body">A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 29, 2022</div>
 <div class="content_title">NASA Invites Students to Name Mars 2020 Rover</div>
 <div class="article_teaser_body">Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 29, 2022</div>
 <div class="content_title">7 Things to Know About the Mars 2020 Perseverance Rover Mission</div>
 <div class="article_teaser_body">NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 29, 2022</div>
 <div class="content_title">Follow NASA's Perseverance Rover in Real Time on Its Way to Mars</div>
 <div class="article_teaser_body">A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 27, 2022</div>
 <div class="content_title">Celebrate Mars Reconnaissance Orbiter's Views From Above</div>
 <div class="article_teaser_body">Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 21, 2022</div>
 <div class="content_title">Two Rovers to Roll on Mars Again: Curiosity and Mars 2020</div>
 <div class="article_teaser_body">They look like twins. But under the hood, the rover currently exploring the Red Planet and the one launching there this summer have distinct science tools and roles to play.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 20, 2022</div>
 <div class="content_title">Q&amp;A with the Student Who Named Ingenuity, NASA's Mars Helicopter</div>
 <div class="article_teaser_body">As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 17, 2022</div>
 <div class="content_title">10.9 Million Names Now Aboard NASA's Perseverance Mars Rover</div>
 <div class="article_teaser_body">As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 13, 2022</div>
 <div class="content_title">NASA's Perseverance Rover Attached to Atlas V Rocket</div>
 <div class="article_teaser_body">Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 9, 2022</div>
 <div class="content_title">NASA to Reveal Name of Its Next Mars Rover</div>
 <div class="article_teaser_body">After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. </div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 1, 2022</div>
 <div class="content_title">Mars Helicopter Attached to NASA's Perseverance Rover</div>
 <div class="article_teaser_body">The team also fueled the rover's sky crane to get ready for this summer's history-making launch.</div>
 </div>,
 <div class="list_text">
 <div class="list_date">July 1, 2022</div>
 <div class="content_title">NASA InSight's 'Mole' Is Out of Sight</div>
 <div class="article_teaser_body">Now that the heat probe is just below the Martian surface, InSight's arm will scoop some additional soil on top to help it keep digging so it can take Mars' temperature.</div>
 </div>]

In [156]:
# loop through all of the articles, getting the title and body
#wait i only need latest article... so i'll stop the loop at 1 iteration :D

for result in mars_articles:

    news_title = result.find('div',class_='content_title').text
    news_p  = result.find('div',class_='article_teaser_body').text

    break
    # print(result.find('div',class_='content_title').text)
    # print(result.find('div',class_='article_teaser_body').text)
    # print('--------------------')

print(news_title)
print(news_p)

NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
The team has learned to meet new challenges as they work remotely on the Mars mission.

# JPL Mars Space Images - Featured Image
Visit the url for the Featured Space Image page here. https://spaceimages-mars.com

Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

Make sure to find the image url to the full size .jpg image.

Make sure to save a complete url string for this image.

In [133]:
#setup browser with url
jpl_url = "https://spaceimages-mars.com"
browser.visit(jpl_url)
time.sleep(1)

In [146]:
#get soup of website
jpl_html = browser.html
jpl_soup = bs(jpl_html, "html.parser")

In [162]:
#get URL of featured image
featured_image_div = jpl_soup.find_all('div',class_='floating_text_area')

#gets the link to the image via href column..
for result in featured_image_div:
    featured_image_location = result.find('a')['href']

featured_image_url = jpl_url + '/' + featured_image_location

featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

# Mars Facts


Visit the Mars Facts webpage here https://galaxyfacts-mars.com and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [176]:
#pandas scrapping, very easy
facts_url = "https://galaxyfacts-mars.com/"
#gets all tables on the webpage and makes it a list
facts_tables = pd.read_html(facts_url)
#only getting the mars table, which is the secobd one in the list
facts_tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [177]:
#convert list into df
facts_df = pd.DataFrame(facts_tables[1])
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [178]:
# converts list to a html format
facts_html_table = facts_df.to_html()
facts_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres


Visit the Astrogeology site here https://marshemispheres.com/ to obtain high resolution images for each of Mar's hemispheres.


You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.